{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

  {{- $page := .page }}
  {{- $menuID := .menuID }}

  {{- with index site.Menus $menuID }}
    <!--<nav>-->
      <!--<ul>-->
        {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      <!--</ul>-->
    <!--</nav>-->
  {{- end }}

  {{- define "partials/inline/menu/walk.html" }}
    {{- $page := .page }}
    {{- range .menuEntries }}



    {{- $url := replace .URL "/$" "" }}
    {{- $current := replace $page.RelPermalink "/$" "" }}
    {{- $attrs := dict "href" .URL }}
    {{- if eq $url $current }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- end }}


    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <div class="sidebar-link">
      <div class="main">
        <a
          {{- range $k, $v := $attrs }}
            {{- with $v }}
              {{- printf " %s=%q" $k $v | safeHTMLAttr }}
            {{- end }}
          {{- end }}
        >
          <span class="idk">
            {{ if .Params.Icon }}
            <span class="material-icons-round">{{ .Params.icon }}</span>
            {{ end }}
            <span class="text">{{ $name }}</span>
          </span>
        </a>
        {{- with .Children }}
          <ul>
            {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
          </ul>
        {{- end }}
      </div>
    </div>
  {{- end }}
  
{{- end }}