<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="container">
    <div class="navbar-area">
      <div class="navbar-logo">
        <div class="margin-16px">
          <a href="/">
            <img src="/images/logo.webp" style="width: 200px; margin: auto;"><br>
            <img src="/images/wordmark.webp" style="width: 200px; margin: auto; color: #9b8778; border-radius: 0px;">
          </a>
  
        </div>
      </div>

      <div class="navbar">
        <div class="content">
          {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
          <h2>games</h2>
          {{ partial "menu.html" (dict "menuID" "games" "page" .) }}
          <h2>tools</h2>
          {{ partial "menu.html" (dict "menuID" "tools" "page" .) }}
        </div>
      </div>
    </div>
    <div class="main-area">
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      <footer>
        {{ partial "footer.html" . }}
      </footer>
    </div>
  </div>
</body>
</html>
